# UK House Price Prediction
## Based on the Assessment for Advanced Data Science (audited) at Cambridge, 2021

## Madeline Lisaius, based on work by Christian Cabrera, Carl Henrik Ek and Neil D. Lawrence

In this script, I build a prediction system for UK house prices. 

It is based on data from the UK Price Paid data available [here](https://www.gov.uk/government/statistical-data-sets/price-paid-data-downloads) and data from the UK Office for National Statistics data on the latitude/longitude of postcodes (available [here](https://www.getthedata.com/open-postcode-geo)) to create a relational database of house prices and their approximate latitude/longitude. To make predictions of the house price, I augment your data with information obtained from Open Street Map: an open license source of mapping information. 

Due to time constraints, all code including access and assess asepects of this project are incorporated. The linear model is basic but offers a framework approach.

## Accessing a Database of House Prices, Latitudes and Longitudes

The UK price paid data for housing in dates back to 1995 and contains millions of transactions. The size of the data makes it unwieldy to manipulate directly in python frameworks such as `pandas`. As a result we will host the data in a cloud hosted relational database, in this case a MariaDB hosted on the AWS RDS service.

In [3]:
# Loading all packages for the work.

#%pip install pyyaml
#%pip install ipython-sql
#%pip install PyMySQL
%load_ext sql

import yaml
from ipywidgets import interact_manual, Text, Password
import pymysql
import os.path
import requests
import pandas as pd
from urllib.request import urlopen
from io import BytesIO
from zipfile import ZipFile
import osmnx as ox
import matplotlib.pyplot as plt
import datetime

In [9]:
# Create credentials to engage with the AWS server

@interact_manual(username=Text(description="Username"),
                password=Password(description="Password:"))
def write_credentials(username, password):
    with open("credentials.yaml", "w") as file:
        credentials_dict ={'username': username,
                          'password':password}
        yaml.dump(credentials_dict, file)

interactive(children=(Text(value='', description='Username'), Password(description='Password:'), Button(descriâ€¦

In [14]:
# Connecting to MariaDB instance below

database_details = {"url": "(INSERT DATABASE URL HERE)", 
                    "port": (INSERT PORT NUMBER HERE)}

with open("credentials.yaml") as file:
    credentials = yaml.safe_load(file)
username = credentials["username"]
password = credentials["password"]
url = database_details["url"]

In [16]:
%sql mariadb+pymysql://$username:$password@$url?local_infile=1

In [17]:
def create_connection(user, password, host, database, port=3306):
    """ Create a database connection to the MariaDB database
        specified by the host url and database name.
    :param user: username
    :param password: password
    :param host: host url
    :param database: database
    :param port: port number
    :return: Connection object or None
    """
    conn = None
    try:
        conn = pymysql.connect(user=user,
                               passwd=password,
                               host=host,
                               port=port,
                               local_infile=1,
                               db=database,
                               autocommit=True
                               )
    except Exception as e:
        print(f"Error connecting to the MariaDB Server: {e}")
    return conn

In [18]:
conn = create_connection(user=credentials["username"], 
                         password=credentials["password"], 
                         host=database_details["url"],
                         database="property_prices")

In [18]:
# set up database property_prices to host the tables

cursor = conn.cursor()
cursor.execute("""SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";""")
cursor.execute("""SET time_zone = "+00:00";""")
cursor.execute("""CREATE DATABASE IF NOT EXISTS `property_prices` DEFAULT CHARACTER SET utf8 COLLATE utf8_bin;""")

 * mariadb+pymysql://admin:***@testdatabase-mariadb.cafo33kj2z4p.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [350]:
# create empty table "pp_data"

cursor = conn.cursor()

cursor.execute("""USE `property_prices`;""")
cursor.execute("""
    --
    -- Table structure for table `pp_data`
    --
    DROP TABLE IF EXISTS `pp_data`; """)

cursor.execute("""
    CREATE TABLE IF NOT EXISTS `pp_data` (
      `transaction_unique_identifier` tinytext COLLATE utf8_bin NOT NULL,
      `price` int(10) unsigned NOT NULL,
      `date_of_transfer` date NOT NULL,
      `postcode` varchar(8) COLLATE utf8_bin NOT NULL,
      `property_type` varchar(1) COLLATE utf8_bin NOT NULL,
      `new_build_flag` varchar(1) COLLATE utf8_bin NOT NULL,
      `tenure_type` varchar(1) COLLATE utf8_bin NOT NULL,
      `primary_addressable_object_name` tinytext COLLATE utf8_bin NOT NULL,
      `secondary_addressable_object_name` tinytext COLLATE utf8_bin NOT NULL,
      `street` tinytext COLLATE utf8_bin NOT NULL,
      `locality` tinytext COLLATE utf8_bin NOT NULL,
      `town_city` tinytext COLLATE utf8_bin NOT NULL,
      `district` tinytext COLLATE utf8_bin NOT NULL,
      `county` tinytext COLLATE utf8_bin NOT NULL,
      `ppd_category_type` varchar(2) COLLATE utf8_bin NOT NULL,
      `record_status` varchar(2) COLLATE utf8_bin NOT NULL,
      `db_id` bigint(20) unsigned NOT NULL
    ) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1 ;
    """)
cursor.execute("""
    --
    -- Indexes for table `pp_data`
    --
    ALTER TABLE `pp_data`
        ADD PRIMARY KEY (`db_id`);
    """)
cursor.execute("""
    --
    -- AUTO_INCREMENT for table `pp_data`
    --
    ALTER TABLE `pp_data`
    MODIFY `db_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,AUTO_INCREMENT=1;""")
cursor.execute("""
    CREATE INDEX `pp.postcode` USING HASH
      ON `pp_data`
        (postcode);""")
cursor.execute("""
    CREATE INDEX `pp.date` USING HASH
      ON `pp_data` 
        (date_of_transfer);
    """)

0

In [19]:
# download all the data to local machine 
# quick approach to save gov AWS files - would create a looping function so that no local machine is used in a future update.

# only using 2018-2021 for now; data from 1995 onward is available.
years = ["2018", "2019", "2020", "2021"]
parts = ["1","2"] 

for y in years:
    for p in parts:
        if os.path.exists("datasets/pp-" + y + "-part" + p + ".csv"):
            print("pp-" + y + "-part" + p + ".csv exists")
        else:
            this_url = "http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-" + y + "-part" + p + ".csv"
            #r = requests.get(this_url, allow_redirects=True)
            doc = pd.read_csv(this_url, header=None)
            doc.to_csv("datasets/pp-" + y + "-part" + p + ".csv", index = False)
            print("Dataset for year " + y + " part " + p + " successfully written.")
            #open("datasets/pp-" + y + "-part" + p + ".csv", 'wb').write(r.content)

pp-2018-part1.csv exists
pp-2018-part2.csv exists
pp-2019-part1.csv exists
pp-2019-part2.csv exists
pp-2020-part1.csv exists
pp-2020-part2.csv exists
pp-2021-part1.csv exists
pp-2021-part2.csv exists

In [298]:
# functions to load downloaded sales files into table pp_data

load_sql = """
    LOAD DATA LOCAL INFILE %s 
    INTO TABLE `pp_data`
    FIELDS 
        TERMINATED BY ","
    LINES 
        STARTING BY "" 
        TERMINATED BY "\n";
    """

def csv_to_mysql(filename, credentials, database_details):
    '''
    This function loads a csv file to SQL table according to
    the load_sql statement.
    '''
    try:
        con = create_connection(user=credentials["username"], 
                         password=credentials["password"], 
                         host=database_details["url"],
                         database="property_prices")
        print('Connected to DB')
        
        # Create cursor and execute Load SQL
        cursor = con.cursor()
        cursor.execute(load_sql,(filename,))
        print('Succuessfully loaded the table from csv.')
        con.close()
       
    except Exception as e:
        print('Error: {}'.format(str(e)))
        sys.exit(1)

In [351]:
# load downloaded sales files into table pp_data

files = [f for f in os.listdir('datasets/') if f.startswith('pp-')]

for file in files:
    csv_to_mysql(("datasets/" + file), credentials, database_details)
    print("datasets/" + file + " has been uploaded.")

Connected to DB
Succuessfully loaded the table from csv.
datasets/pp-2018-part1.csv has been uploaded.
Connected to DB
Succuessfully loaded the table from csv.
datasets/pp-2018-part2.csv has been uploaded.
Connected to DB
Succuessfully loaded the table from csv.
datasets/pp-2019-part1.csv has been uploaded.
Connected to DB
Succuessfully loaded the table from csv.
datasets/pp-2019-part2.csv has been uploaded.
Connected to DB
Succuessfully loaded the table from csv.
datasets/pp-2020-part1.csv has been uploaded.
Connected to DB
Succuessfully loaded the table from csv.
datasets/pp-2020-part2.csv has been uploaded.
Connected to DB
Succuessfully loaded the table from csv.
datasets/pp-2021-part1.csv has been uploaded.
Connected to DB
Succuessfully loaded the table from csv.
datasets/pp-2021-part2.csv has been uploaded.

In [356]:
# There were some errors in how some data was translated to the MariaDB. This eliminates some characters from problem columns.
# Removes spaces and double quotes from strings in postcode column to have character-only postcode values. 

substr_postcode = """
    UPDATE pp_data 
    SET postcode = REPLACE(REPLACE(postcode, '"', ''), ' ', '')
    """
cur = conn.cursor()
cur.execute(substr_postcode)

3392479

In [13]:
# define head function to use with MariaDB

def select_top(conn, table,  n):
    """
    Query n first rows of the table
    :param conn: the Connection object
    :param table: The table to query
    :param n: Number of rows to query
    """
    cur = conn.cursor()
    cur.execute(f'SELECT * FROM {table} LIMIT {n}')

    rows = cur.fetchall()
    return rows

def head(conn, table, n=5):
  rows = select_top(conn, table, n)
  for r in rows:
      print(r)

In [352]:
# check length of pp_data to make sure it is expected size

check_table = "SELECT COUNT(*) FROM pp_data;"

cur = conn.cursor()
cur.execute(check_table)
table_details = cur.fetchall()
table_details

((3408092,),)

In [353]:
# look at head of pp_data to make sure it is what is expected.
select_top(conn, "pp_data", 10)

(('0',
  1,
  '0000-00-00',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  1),
 ('{B5755FFD-C10C-7D01-E053-6C04A8C036B6}',
  750000,
  datetime.date(2018, 3, 20),
  'HP5 2JD',
  'T',
  'N',
  'F',
  'CAIRN HOUSE',
  '1',
  'ELGIVA LANE',
  '',
  'CHESHAM',
  'BUCKINGHAMSHIRE',
  'BUCKINGHAMSHIRE',
  'A',
  'A',
  2),
 ('{75050A84-BC15-9A88-E053-6B04A8C02390}',
  720000,
  datetime.date(2018, 7, 26),
  'SL7 1BS',
  'D',
  'N',
  'F',
  '4A',
  '',
  'CLAREMONT GARDENS',
  '',
  'MARLOW',
  'BUCKINGHAMSHIRE',
  'BUCKINGHAMSHIRE',
  'A',
  'A',
  3),
 ('{A96E4ACB-DE37-9205-E053-6C04A8C0DA09}',
  315000,
  datetime.date(2018, 9, 18),
  'HP5 2FG',
  'F',
  'N',
  'L',
  '"LIBERTY COURT',
  ' 7"',
  '25',
  'BELLINGDON ROAD',
  '',
  'CHESHAM',
  'BUCKINGHAMSHIRE',
  'BU',
  'A',
  4),
 ('{726BF13A-6A37-0A46-E053-6C04A8C01D0D}',
  545000,
  datetime.date(2018, 3, 22),
  'SL1 8QA',
  'D',
  'N',
  'F',
  'LITTLE PLACE',
  '',
  'GREEN LANE',
  'BURNHAM',
  'SLOUGH',
  'BUCKINGHAMSHIRE',
  'BUCKINGHAMSHIRE',
  'A',
  'A',
  5),
 ('{B5755FFD-C322-7D01-E053-6C04A8C036B6}',
  260000,
  datetime.date(2018, 9, 17),
  'HP5 3EN',
  'F',
  'N',
  'L',
  '"NASHLEIGH COURT',
  ' 188"',
  'FLAT 11',
  'SEVERALLS AVENUE',
  '',
  'CHESHAM',
  'BUCKINGHAMSHIRE',
  'BU',
  'A',
  6),
 ('{AC07BBCF-DC14-0445-E053-6C04A8C01E31}',
  224950,
  datetime.date(2018, 12, 14),
  'HP18 0XF',
  'F',
  'N',
  'L',
  '56',
  '',
  'BRAMLEY ROAD',
  '',
  'AYLESBURY',
  'BUCKINGHAMSHIRE',
  'BUCKINGHAMSHIRE',
  'A',
  'A',
  7),
 ('{B5755FFD-C325-7D01-E053-6C04A8C036B6}',
  294000,
  datetime.date(2018, 10, 3),
  'HP5 3EN',
  'F',
  'N',
  'L',
  '"NASHLEIGH COURT',
  ' 188"',
  'FLAT 5',
  'SEVERALLS AVENUE',
  '',
  'CHESHAM',
  'BUCKINGHAMSHIRE',
  'BU',
  'A',
  8),
 ('{AE4D86D3-CF7F-4619-E053-6C04A8C03CD0}',
  219950,
  datetime.date(2018, 12, 28),
  'HP18 0XF',
  'F',
  'N',
  'L',
  '50',
  '',
  'BRAMLEY ROAD',
  '',
  'AYLESBURY',
  'BUCKINGHAMSHIRE',
  'BUCKINGHAMSHIRE',
  'A',
  'A',
  9),
 ('{AE4D86D3-CF90-4619-E053-6C04A8C03CD0}',
  820000,
  datetime.date(2018, 12, 20),
  'SL2 4PA',
  'F',
  'N',
  'F',
  'THE MEADS',
  '9',
  'PARK ROAD',
  'STOKE POGES',
  'SLOUGH',
  'BUCKINGHAMSHIRE',
  'BUCKINGHAMSHIRE',
  'A',
  'A',
  10))

In [34]:
# Function to download and unzip file to specified location.

def download_and_unzip(url, extract_to='.'):
    if os.path.exists(extract_to):
            print(extract_to + " exists")
    else:
        http_response = urlopen(url)
        zipfile = ZipFile(BytesIO(http_response.read()))
        zipfile.extractall(path=extract_to)

In [35]:
# Download the UK postcode data
download_and_unzip('https://www.getthedata.com/downloads/open_postcode_geo.csv.zip', extract_to='datasets/open_postcod_geo')

datasets/open_postcod_geo.csv exists

In [50]:
# Create postcode data table postcode_data in the database

drop_postcodedata_sql = """
    --
    -- Table structure for table `postcode_data`
    --
    DROP TABLE IF EXISTS `postcode_data`;"""
create_postcodedata_sql = """ 
    CREATE TABLE IF NOT EXISTS `postcode_data` (
      `postcode` varchar(8) COLLATE utf8_bin NOT NULL,
      `status` enum('live','terminated') NOT NULL,
      `usertype` enum('small', 'large') NOT NULL,
      `easting` int unsigned,
      `northing` int unsigned,
      `positional_quality_indicator` int NOT NULL,
      `country` enum('England', 'Wales', 'Scotland', 'Northern Ireland', 'Channel Islands', 'Isle of Man') NOT NULL,
      `lattitude` decimal(11,8) NOT NULL,
      `longitude` decimal(10,8) NOT NULL,
      `postcode_no_space` tinytext COLLATE utf8_bin NOT NULL,
      `postcode_fixed_width_seven` varchar(7) COLLATE utf8_bin NOT NULL,
      `postcode_fixed_width_eight` varchar(8) COLLATE utf8_bin NOT NULL,
      `postcode_area` varchar(2) COLLATE utf8_bin NOT NULL,
      `postcode_district` varchar(4) COLLATE utf8_bin NOT NULL,
      `postcode_sector` varchar(6) COLLATE utf8_bin NOT NULL,
      `outcode` varchar(4) COLLATE utf8_bin NOT NULL,
      `incode` varchar(3)  COLLATE utf8_bin NOT NULL,
      `db_id` bigint(20) unsigned NOT NULL
    ) DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
    """

cursor = conn.cursor()
cursor.execute("""USE `property_prices`;""")
cursor.execute(drop_postcodedata_sql,)
cursor.execute(create_postcodedata_sql,)
cursor.execute("""ALTER TABLE `postcode_data`
                    ADD PRIMARY KEY (`db_id`);""")
cursor.execute("""ALTER TABLE `postcode_data`
                MODIFY `db_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=1;""")
cursor.execute("""CREATE INDEX `po.postcode` USING HASH
                      ON `postcode_data`
                        (postcode);""")
load_openpostcode = """
    LOAD DATA LOCAL INFILE 'datasets/open_postcode_geo/open_postcode_geo.csv' INTO TABLE `postcode_data`
    FIELDS TERMINATED BY ',' 
    LINES STARTING BY '' TERMINATED BY '\n';
    """
cursor.execute(load_openpostcode)

0

In [355]:
# check length to make sure it is expected size
check_table = "SELECT COUNT(*) FROM postcode_data;"

cur = conn.cursor()
cur.execute(check_table)
table_details = cur.fetchall()
table_details

In [156]:
select_top(conn, "postcode_data", 10)

(('AB1 0AA',
  'terminated',
  'small',
  385386,
  801193,
  1,
  'Scotland',
  Decimal('57.10147400'),
  Decimal('-2.24285100'),
  'AB10AA',
  'AB1 0AA',
  'AB1  0AA',
  'AB',
  'AB1',
  'AB1 0',
  'AB1',
  '0AA',
  1),
 ('AB1 0AB',
  'terminated',
  'small',
  385177,
  801314,
  1,
  'Scotland',
  Decimal('57.10255400'),
  Decimal('-2.24630800'),
  'AB10AB',
  'AB1 0AB',
  'AB1  0AB',
  'AB',
  'AB1',
  'AB1 0',
  'AB1',
  '0AB',
  2),
 ('AB1 0AD',
  'terminated',
  'small',
  385053,
  801092,
  1,
  'Scotland',
  Decimal('57.10055600'),
  Decimal('-2.24834200'),
  'AB10AD',
  'AB1 0AD',
  'AB1  0AD',
  'AB',
  'AB1',
  'AB1 0',
  'AB1',
  '0AD',
  3),
 ('AB1 0AE',
  'terminated',
  'small',
  384600,
  799300,
  8,
  'Scotland',
  Decimal('57.08444400'),
  Decimal('-2.25570800'),
  'AB10AE',
  'AB1 0AE',
  'AB1  0AE',
  'AB',
  'AB1',
  'AB1 0',
  'AB1',
  '0AE',
  4),
 ('AB1 0AF',
  'terminated',
  'large',
  384460,
  800660,
  8,
  'Scotland',
  Decimal('57.09665600'),
  Decimal('-2.25810200'),
  'AB10AF',
  'AB1 0AF',
  'AB1  0AF',
  'AB',
  'AB1',
  'AB1 0',
  'AB1',
  '0AF',
  5),
 ('AB1 0AG',
  'terminated',
  'large',
  383890,
  800710,
  8,
  'Scotland',
  Decimal('57.09708500'),
  Decimal('-2.26751300'),
  'AB10AG',
  'AB1 0AG',
  'AB1  0AG',
  'AB',
  'AB1',
  'AB1 0',
  'AB1',
  '0AG',
  6),
 ('AB1 0AJ',
  'terminated',
  'small',
  384779,
  800921,
  1,
  'Scotland',
  Decimal('57.09901100'),
  Decimal('-2.25285400'),
  'AB10AJ',
  'AB1 0AJ',
  'AB1  0AJ',
  'AB',
  'AB1',
  'AB1 0',
  'AB1',
  '0AJ',
  7),
 ('AB1 0AL',
  'terminated',
  'small',
  384669,
  801228,
  1,
  'Scotland',
  Decimal('57.10176500'),
  Decimal('-2.25468800'),
  'AB10AL',
  'AB1 0AL',
  'AB1  0AL',
  'AB',
  'AB1',
  'AB1 0',
  'AB1',
  '0AL',
  8),
 ('AB1 0AN',
  'terminated',
  'large',
  385225,
  800757,
  1,
  'Scotland',
  Decimal('57.09755300'),
  Decimal('-2.24548300'),
  'AB10AN',
  'AB1 0AN',
  'AB1  0AN',
  'AB',
  'AB1',
  'AB1 0',
  'AB1',
  '0AN',
  9),
 ('AB1 0AP',
  'terminated',
  'small',
  385208,
  800834,
  1,
  'Scotland',
  Decimal('57.09824400'),
  Decimal('-2.24576800'),
  'AB10AP',
  'AB1 0AP',
  'AB1  0AP',
  'AB',
  'AB1',
  'AB1 0',
  'AB1',
  '0AP',
  10))

In [108]:
# Create new table prices_coordinates_data in database to house the the joined dataset.

conn = create_connection(user=credentials["username"], 
                         password=credentials["password"], 
                         host=database_details["url"],
                         database="property_prices")

def makenewjoin ():
    cursor = conn.cursor()
    cursor.execute("""USE `property_prices`;
            --
            -- Table structure for table `prices_coordinates_data`
            --""")
    cursor.execute("""DROP TABLE IF EXISTS `prices_coordinates_data`;""")
    cursor.execute("""CREATE TABLE IF NOT EXISTS `prices_coordinates_data` (
          `price` int(10) unsigned NOT NULL,
          `date_of_transfer` date NOT NULL,
          `postcode` varchar(8) COLLATE utf8_bin NOT NULL,
          `property_type` varchar(1) COLLATE utf8_bin NOT NULL,
          `new_build_flag` varchar(1) COLLATE utf8_bin NOT NULL,
          `tenure_type` varchar(1) COLLATE utf8_bin NOT NULL,
          `locality` tinytext COLLATE utf8_bin NOT NULL,
          `town_city` tinytext COLLATE utf8_bin NOT NULL,
          `district` tinytext COLLATE utf8_bin NOT NULL,
          `county` tinytext COLLATE utf8_bin NOT NULL,
          `country` enum('England', 'Wales', 'Scotland', 'Northern Ireland', 'Channel Islands', 'Isle of Man') NOT NULL,
          `lattitude` decimal(11,8) NOT NULL,
          `longitude` decimal(10,8) NOT NULL,
          `db_id` bigint(20) unsigned NOT NULL
        ) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1 ;""")
    return("Prices coodinate data table creation successful")

In [434]:
# Prepared for a past version of this script, keeping for future reference.

# filters and returns postcodes in specific lat lon box. 
#lat = 0.04
#WHERE postcode_area IN ('AB', 'CB');
def filter_postcodes_time(start_date, end_date, conn):
    cur = conn.cursor()
    cur.execute(f"""
        SELECT date_of_transfer, county FROM pp_data
        WHERE CAST(date_of_transfer AS date) >= {start_date} 
        AND CAST(date_of_transfer AS date) <= {end_date}
        AND county IN ('CAMBRIDGESHIRE');
        """)
    test = cur.fetchall()
    return(test)

#this_test = filter_postcodes_time('20181220', '20190110', conn)
#this_test

In [ ]:
# Prepared for a past version of this script, keeping for future reference.

# filters and returns listings in specific lat lon box. 
#lat = 0.04
#WHERE postcode_area IN ('AB', 'CB');
def filter_postcodes (lower_lat, upper_lat, lower_lon, upper_lon, conn):
    cur = conn.cursor()
    cur.execute(f"""
        SELECT postcode FROM postcode_data
        WHERE lattitude BETWEEN {lower_lat} AND {upper_lat}
        AND longitude BETWEEN {lower_lon} AND {upper_lon};
        """)
    test = cur.fetchall()
    return(test)

In [1]:
# define function to join the two datasets given a lattitude, longitude, and date of interest. All property sale records are returned.


def join_counts(lat_given, lon_given, date):
    """
    Join the postcode and sales data.
    """
    conn = create_connection(user=credentials["username"], 
                         password=credentials["password"], 
                         host=database_details["url"],
                         database="property_prices")

    lat_buffer = 0.004
    lat_upper = lat_given + lat_buffer
    lat_lower = lat_given - lat_buffer

    lon_buffer = 0.004
    lon_upper = lon_given + lon_buffer
    lon_lower = lon_given - lon_buffer
    
    ndays = 30
    date_lower = (date - datetime.timedelta(days=ndays)).strftime("%Y%m%d")
    date_upper = (date + datetime.timedelta(days=ndays)).strftime("%Y%m%d")
    
    
    try:
        cur = conn.cursor()
        cur.execute("""TRUNCATE TABLE prices_coordinates_data""")
        cur.execute(f"""
                INSERT INTO prices_coordinates_data
                    (SELECT pp.price AS price,
                            pp.date_of_transfer AS date_of_transfer,
                            pp.postcode AS postcode,
                            pp.property_type AS property_type,
                            pp.new_build_flag AS new_build_flag,
                            pp.tenure_type AS tenure_type,
                            pp.locality AS locality,
                            pp.town_city AS town_city,
                            pp.district as district,
                            pp.county as county,
                            pc.country as country,
                            pc.lattitude AS lattitude,
                            pc.longitude AS longitude,
                            pp.db_id as db_id
                    FROM
                            pp_data pp
                    INNER JOIN 
                            postcode_data pc
                    ON
                            pp.postcode = pc.postcode_no_space
                    WHERE pc.lattitude BETWEEN {lat_lower} AND {lat_upper}
                    AND pc.longitude BETWEEN {lon_lower} AND {lon_upper}
                    AND CAST(pp.date_of_transfer AS date) >= {date_lower} 
                    AND CAST(pp.date_of_transfer AS date) <= {date_upper});
            """)

        rows = cur.fetchall()
        return rows
    finally:
        conn.close()

## Question 2. Accessing OpenStreetMap and Assessing the Available Features

In question 3 you will be given the task of constructing a prediction system for property price levels at a given location. We expect that knowledge of the local region around the property should be helpful in making those price predictions. To evaluate this we will now look at [OpenStreetMap](https://www.openstreetmap.org) as a data source.

The tasks below will guide you in accessing and assessing the OpenStreetMap data. The code you write will eventually be assimilated in your python module, but documentation of what you've included and why should remain in the notebook below. 

Accessing OpenStreetMap through its API can be done using the python library `osmx`. Using what you have learned about the `osmx` interface in the lectures, write general code for downloading points of interest and other relevant information that you believe may be useful for predicting house prices. Remembering the perspectives we've taken on *data science as debugging*, the remarks we've made when discussing *the data crisis* of the importance of reusability in data analysis, and the techniques we've explored in the labsessions for visualising features and exploring their correlation use the notebook to document your assessment of the OpenStreetMap data as a potential source of data.

The knowledge you need to do a first pass through this question will have been taught by end of lab session three (16th November 2021). You will likely want to review your answer as part of *refactoring* your code and analysis pipeline shortly before hand in.

You should write reusable code that allows you to explore the characteristics of different points of interest. Looking ahead to question 3 you'll want to incorporate these points of interest in your prediction code.

*5 marks*

In [21]:
# Define function to retrieve POIs with information about specific categories defined in tags and keys

tags = {"amenity": True, 
        "buildings": True, 
        "historic": True, 
        "leisure": True, 
        "shop": True, 
        "tourism": True}


keys = ["name",
        "lat",
        "lon",
        "addr:city",
        "addr:postcode",
        "amenity",
        "building",
        "building:name",
        "building:colour",
        "building:material",
        "historic",
        "memorial",
        "religion",
        "tourism",
        "emergency",
        "leisure",
        "shop"]

def retrieve_pois(lat, lon): 
    box_width = 0.005 # About 500 m
    box_height = 0.005
    north = latitude + box_height/2
    south = latitude - box_height/2
    west = longitude - box_width/2
    east = longitude + box_width/2
    
    pois = ox.geometries_from_bbox(north, south, east, west, tags)
    
    present_keys = [key for key in keys if key in pois.columns]
    return(pois[present_keys])

In [22]:
# example POI retreival for Homerton College, Cambridge, UK
latitude = 52.18655 # Homerton College latitude
longitude = 0.14382 # Homerton College longitude

location_data = (latitude, longitude)

/home/mlisaius/miniconda3/envs/ox/lib/python3.9/site-packages/osmnx/utils_geo.py:335: ShapelyDeprecationWarning: Iteration over multi-part geometries is deprecated and will be removed in Shapely 2.0. Use the `geoms` property to access the constituent parts of a multi-part geometry.
  for polygon in geometry:
/home/mlisaius/miniconda3/envs/ox/lib/python3.9/site-packages/osmnx/utils_geo.py:426: ShapelyDeprecationWarning: Iteration over multi-part geometries is deprecated and will be removed in Shapely 2.0. Use the `geoms` property to access the constituent parts of a multi-part geometry.
  for poly in multipoly:

                                                                  name  \
element_type osmid
node         24673035                                              NaN
             25288632                                              NaN
             25288644                                              NaN
             25288648                                      Shahi Balti
             428851650                                 Numark Pharmacy
             827443542                        Cambridge Wine Merchants
             1841228157                                       Sparkles
             1841228160                                    Chic Lounge
             1841283904                                       Go Glass
             1841323457                           Fairways Guest House
             1841340292                      Cherry Hinton Mini Market
             1841340298                                     Custom Ink
             1842761280                                      Michael's
             1874306931                        Ferdy's Hair and Beauty
             8568431670                                            NaN
             8568431671                                            NaN
way          34928003                   Morley Memorial Primary School
             34928020                                              NaN
             143733420      Religious Society of Friends Meeting House
             143733426   The Greek Orthodox Church of Saint Athanasios
             171422730                               Rock Road Library
             171768709                              Assisi Guest House
             172294635                                  Sorrento Hotel
             222505439         Morley Memorial School Early Years Base
             803738582                                    Joy's Garden

                         addr:city addr:postcode           amenity  \
element_type osmid
node         24673035          NaN           NaN          post_box
             25288632          NaN           NaN          post_box
             25288644          NaN           NaN          post_box
             25288648    Cambridge       CB1 7AJ         fast_food
             428851650   Cambridge       CB1 7AJ          pharmacy
             827443542   Cambridge       CB1 7BX               NaN
             1841228157  Cambridge       CB1 7BS               NaN
             1841228160  Cambridge       CB1 7BS               NaN
             1841283904  Cambridge       CB1 7BS               NaN
             1841323457  Cambridge       CB1 7BX               NaN
             1841340292  Cambridge       CB1 7AJ               NaN
             1841340298  Cambridge       CB1 7AJ               NaN
             1842761280  Cambridge       CB1 7AN               NaN
             1874306931  Cambridge       CB1 7UB               NaN
             8568431670        NaN           NaN   bicycle_parking
             8568431671        NaN           NaN   bicycle_parking
way          34928003    Cambridge       CB1 7TX            school
             34928020          NaN           NaN               NaN
             143733420   Cambridge       CB1 7UB  place_of_worship
             143733426   Cambridge       CB1 7AJ  place_of_worship
             171422730   Cambridge       CB1 7UG           library
             171768709   Cambridge       CB1 7BX               NaN
             172294635   Cambridge       CB1 7AN        restaurant
             222505439   Cambridge       CB1 7TX            school
             803738582         NaN           NaN               NaN

                           building   religion      tourism leisure  \
element_type osmid
node         24673035           NaN        NaN          NaN     NaN
             25288632           NaN        NaN          NaN     NaN
             25288644           NaN        NaN          NaN     NaN
             25288648           NaN        NaN          NaN     NaN
             428851650          NaN        NaN          NaN     NaN
             827443542          NaN        NaN          NaN     NaN
             1841228157         NaN        NaN          NaN     NaN
             1841228160         NaN        NaN          NaN     NaN
             1841283904         NaN        NaN          NaN     NaN
             1841323457         NaN        NaN  guest_house     NaN
             1841340292         NaN        NaN          NaN     NaN
             1841340298         NaN        NaN          NaN     NaN
             1842761280         NaN        NaN          NaN     NaN
             1874306931         NaN        NaN          NaN     NaN
             8568431670         NaN        NaN          NaN     NaN
             8568431671         NaN        NaN          NaN     NaN
way          34928003           NaN       none          NaN     NaN
             34928020           NaN        NaN          NaN   pitch
             143733420       church  christian          NaN     NaN
             143733426          yes  christian          NaN     NaN
             171422730          yes        NaN          NaN     NaN
             171768709          yes        NaN  guest_house     NaN
             172294635   commercial        NaN        hotel     NaN
             222505439          NaN       none          NaN     NaN
             803738582          NaN        NaN          NaN    park

                                shop
element_type osmid
node         24673035            NaN
             25288632            NaN
             25288644            NaN
             25288648            NaN
             428851650           NaN
             827443542       alcohol
             1841228157  convenience
             1841228160       beauty
             1841283904        glass
             1841323457          NaN
             1841340292  convenience
             1841340298       tattoo
             1842761280      leather
             1874306931  hairdresser
             8568431670          NaN
             8568431671          NaN
way          34928003            NaN
             34928020            NaN
             143733420           NaN
             143733426           NaN
             171422730           NaN
             171768709           NaN
             172294635           NaN
             222505439           NaN
             803738582           NaN

In [503]:
#this is the skeleton of a price prediction. For now it just returns the average price of properties within the bounding box. 

def price_predict(lat, lon, date):
    joined = join_counts(lat, lon, date)
    cur = conn.cursor()
    cur.execute("""
        SELECT AVG(price)
        FROM prices_coordinates_data
        """)
    avg_price = cur.fetchall()
    return(avg_price)

In [505]:
# Sample price predict

lat = 52.2
lon = 0.154
date = datetime.date(2018,10,20)

print(price_predict(lat, lon, date))

((Decimal('382000.0000'),),)

## Further improvements planned

##### 1) Refactor code and create supporting modules with functions to set up table in databse using connetion, name and schema, to import data from local machine or directly from url, etc.
##### 2) Build on price_predict function. For each lattitude, longitude coodinate of each property sold from the joined table created using the bounding box, seach OpenStreetMap for desired features such as schools, transportation, health facilities, etc. and add columns based on number of particular features (such as amenities) or distance to particular features (such a grocery) or boolean presence of particular features (such as prison) that might add or detract from value. Categorical variables such as tenure type would be treated with one-hot encoding, and some values like number of amenities would be fit as likely a quadratic feature in the feature matrix (assuming that no amenities would be likely undesireable in many cases/lower value, and many amenities indicating a comercial area would likely also be undesireable). Fit a linear in the parameters model to all of the OpenStreetMap-based feature columns as well as columns from the sales data such as new building flag and tenure type to infer price. Use this fitted model to predict price of the location of the given lattitude and longitude. Could include a process that would augment the search bounding box by 0.001 degrees in both axes if no features found.